<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SlackBotApiToken" value="xoxb-975330989108-978001920342-4FTIeRbHX1c4tnRZ8TxTPM53" />
  </appSettings>
...
</configuration>
